@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap');

/* STILE GENERALE */
* {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
}

main p,
ul,
li,
label {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

html {
  color: #eee;
  letter-spacing: 1px;
}

body {
  letter-spacing: 1px;
}

.pink {
  color: #D20094;
}

.dark-blue {
  color: #0B113B;
}

.grad-sfondo {
  height: 100vh;
  background: linear-gradient(125deg, #0c113b 50%, #341559 55%, #341559 57%, #2c1158 60%, #662672 65%, #581f66 70%, #722a76 75%, #581f66 81%, #0c113b 87%, #0c113b 100%);
}

.b-0 {
    border: 0;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mh {
  margin: 50px 0;
}

h3,
b,
strong {
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.w-100 {
  width: 100%;
}

.w-60 {
  width: 60%;
}

.w-20 {
  width: 20%;
}

/* HEADER */
h1 {
  position: absolute;
  top: 50px;
  left: 100px;
}

h1 img {
  width: 200px;
}

/* MAIN */
main {
  padding: 140px 100px 0px 100px;
}

h2 {
  font-size: 85px;
  font-weight: 400;
  line-height: 70px;
}

main h3 {
  font-size: 30px;
}

/*BUTTON */

button {
  background: #00FFFF;
  font-weight: 800;
  padding: 0.75rem 3rem;
  cursor: pointer;
  box-shadow: #00FFFF 1px 1px 15px;
}

button:hover {
  box-shadow: #00FFFF 2px 2px 30px;
}

input[type="checkbox"] {
  cursor: pointer;

}

/* WIDGET */
.widgetWrap {
  width: 900px;
  padding: 10px 30px 30px 30px;
  margin: 10px;
}

/* QUESTION */
#quizQn {
  margin-top: 0;
  font-size: 60px;
}

/* ANSWERS */
#quizAns {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px 40px;
}

#quizAns input[type=radio] {
  display: none;
}

#quizAns label {
  font-weight: bold;
  background:
    linear-gradient(#23294f 0 0) padding-box,
    /* background interno */
    linear-gradient(0deg, #23294f, #fff) border-box;
  border: 5px solid transparent;
  border-radius: 100px;
  padding: 25px 5px;
  cursor: pointer;
  backdrop-filter: blur(10px);
}


#quizAns label:hover {
  background:
    linear-gradient(#23294f 0 0) padding-box,
    linear-gradient(0deg, transparent, transparent) border-box;
}

#quizAns label.selected {
  background:
    linear-gradient(#900080 0 0) padding-box,
    linear-gradient(0deg, transparent, transparent) border-box;
}