/* You can add global styles to this file, and also import other style files */
@import './styles/init-css';
@import './styles/colors';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~primeflex/primeflex.css';
@import '~primeng/resources/themes/arya-orange/theme.css';
@import '~primeng/resources/primeng.min.css';

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: $white;
  background-color: $bgColor;
}

.bg-smooth {
  background: linear-gradient(180deg, #000, transparent);
}

a {
  text-decoration: none;
  color: $white;
}

.app-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.container {
  padding: 1rem 2.5rem 1rem 2.5rem;
}

.activePage {
  border-bottom: 2px solid $companyColor;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncate-one {
  white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.truncate-three {
  @extend .truncate;
  -webkit-line-clamp: 3;
}

.truncate-six {
  @extend .truncate;
  -webkit-line-clamp: 6;
}

.d-none {
  display: none !important;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .d-none-xs {
    display: none !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767.98px) {
  .d-none-sm {
    display: none !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 991.98px) {
  .d-none-md {
    display: none !important;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1199.98px) {
  .d-none-lg {
    display: none !important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .d-none-xl {
    display: none !important;
  }
}