@import '../../../styles/colors';

.spacer {
  display:block;
  height: 3vh;
}

:host ::ng-deep {
  .p-tabview .p-tabview-panels {
    padding: 0;
  }

  .p-tabview-nav {
    justify-content: center;
    li {
      .p-tabview-nav-link {
        background: $bgColor;
      }

      &.p-highlight .p-tabview-nav-link {
        background: $bgColor;
      }
    }
  }
}

.poster {
  width: 100%;
  object-fit: cover;
}

.p-box {
  padding: 1rem 4rem 1rem 4rem;
}

#overview {
  background: $bgColor;
}

.overview {
  line-height: 1.5;
  margin-bottom: 3rem;
}

.stat {
  display: flex;
  margin-bottom: 10px;

  .label {
    width: 150px;
    font-weight: bold;
  }

  .value {
    color: $primaryColor;
  }
}

.actor {
  padding: 10px;
  img {
    width: 100%;
  }
  span {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
}
